registry=http://kaizen.eastus.cloudapp.azure.com/nexus/content/repositories/npmjs/
@utdx:registry=http://kaizen.eastus.cloudapp.azure.com/nexus/content/repositories/npm-internal/
_auth=YWRtaW46YWRtaW4xMjM=