{   
    # Project's human readable name
    title: "Projectz" 

    # Project slug name
    name: "projectz"

    # Project GitHub repository full name
    # If `repository` is set, or if `homepage` is a GitHub URL, we set this automatically
    repo: "bevry/projectz"

    # Project's homepage URL
    # If `repo`, `repository`, or `demo` is set, we set this automatically
    homepage: "https://github.com/bevry/projectz"

    # Project's demo URL
    # If `homepage` or  is set, we set this automatically
    demo: "https://github.com/bevry/projectz"

    # Project description
    description: "Stop wasting time syncing and updating your project's README and Package Files!"

    # Project keywords
    # Can be an array or CSV string
    keywords: "project,readme,package.json,jquery.json,component.json,bower.json"

    # Project's author details
    # Can be an array or CSV string
    authors: ["2013+ Bevry Pty Ltd <us@bevry.me> (http://bevry.me)"]
    author: null

    # Maintainers
    # Can be an array or CSV string
    maintainers: ["Benjamin Lupton (b@lupton.cc) (http://bevry.me)"]
    maintainer: null

    # Sponsors
    # Can be an array or CSV string
    sponsors: ["Benjamin Lupton (b@lupton.cc) (http://bevry.me)"]

    # Contributors
    # Pulled in automatically from the GitHub Repository API and the GitHub Repository's `package.json` file
    contributors: null

    # Project's license details
    # Can be an array or CSV string
    license: "MIT"  # {type:"MIT", url:"http://..."}
    licenses: null

    # Project's repository details
    # If `repo` is set, or if `homepage` is a GitHub URL, we set this automatically
    repository:
        type: "git"
        url: "https://github.com/bevry/projectz.git"

    # Project's repository details
    # If `repo` is set, or if `homepage` is a GitHub URL, we set this automatically
    bugs:
        url: "https://github.com/bevry/projectz/issues"

    # Project's badges for use in the readme files
    badges:
        travis: true
        npm: true
        gittip: bevry
        flattr: "344188/balupton-on-Flattr"
        paypal: "QB8GQPZAH84N6"

}
