{
	# =================================
	# Packages

	generic:
		name: "projectz"
		repo: "bevry/projectz"
		version: "0.0.1"
		license: "MIT"
		description: "Stop wasting time syncing and updating your project's README and Package Files!"
		homepage: "https://github.com/bevry/projectz"
		keywords: "project, readme, package.json, jquery.json, component.json, bower.json"
		author: "Bevry Pty Ltd <us@bevry.me> (http://bevry.me)"
		maintainers: [
			"Benjamin Lupton <b@lupton.cc> (https://github.com/balupton)"
		]
		dependencies:
			extendr: "~2.1.0"
		main: "./out/projectz.js"

	package:
		engines:
			node: ">0.4"
		scripts:
			test: "node ./out/projectz-test.js"
		devDependencies:
			"coffee-script": "~1.6.2"

	component:
		dependencies:
			"bevry/extendr": "master"

	bower: true

	jquery: true


	# =================================
	# READMEs

	history: true
	contributing: true
	backers: true
	license: true
	readme:
		badges:
			travis: true
			fury: true
			gittip: 'bevry'
			flattr: '344188/balupton-on-Flattr'
			paypal: 'QB8GQPZAH84N6'

		sections: [
			'TITLE'
			'BADGES'
			'DESCRIPTION'
			"""
			## Usage

			### Files

			Projectz auto-generates the following parts of the following files:

			- `package.json`
			- `bower.json`
			- `component.json`
			- `jquery.json`
			- `README.md`
				- Badges
					- Travis CI
					- Package Version
					- Gittip
					- Flattr
					- Paypal
				- Install
					- Node / Browserify
					- Ender
					- Bower
					- Component
				- History
				- Contributing
				- Backers
				- License
			- `CONTRIBUTING.md`
			- `LICENSE.md`
			- `BACKERS.md`
				- Maintainers
				- Contributors
				- Sponsors
				- Participants

			Values are determined from your `projectz.cson` file and your github repository.


			### Spec

			Here is the spec for the `projectz.cson` file:

			``` coffee
			{
				# Over-rides for the `package.json` file
				# Set to `false` to avoid touching
				# https://npmjs.org/doc/json.html
				package: {}

				# Over-rides for the `bower.json` file
				# Set to `false` to avoid touching
				# http://bower.io/#defining-a-package
				bower: {}

				# Over-rides for the `component.json` file
				# Set to `false` to avoid touching
				# https://github.com/component/component/wiki/Spec
				component: {}

				# Over-rides for the `jquery.json` file
				# Set to `false` to avoid touching
				# http://plugins.jquery.com/docs/package-manifest/
				jquery: {}

				# Customisations for the `README.md` file
				# Set to `false` to avoid touching
				readme:
					# Badges to add to the readme header
					badges:
						# Travis CI Badge
						# determined from repository
						travis: true

						# Version Badge by Fury.io
						# determined from name
						fury: true

						# Gittip Donate
						# determined from repository username
						gittip: true

						# Flattr Donate
						# not determined
						flattr: false

						# Paypal Donate
						# not determined
						paypal: false

				# Whether or not we should write to the `LICENSE.md` file
				# Set to `false` to avoid touching
				license: true

				# Whether or not we should write to the `BACKERS.md` file
				# Set to `false` to avoid touching
				backers: true

				# Whether or not we should write to the `CONTRIBUTING.md` file
				# Set to `false` to avoid touching
				contributing: true
			}
			```

			[Here is an example `projectz.cson` file.](https://github.com/bevry/projectz/blob/master/test/src/projectz.cson)

			### Commands

			- `projectz compile` - compile your files once
			- `projectz watch` - compile your files on every change
			- `projectz init` - walks you through the setup of your new project

			"""
			'INSTALL'
			'HISTORY'
			'CONTRIBUTING'
			'BACKERS'
			'LICENSE'
		]
}
